name: Continuous Deployment

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          script: |
            cd ~/forum-api-ts

            git pull origin main
            npm ci --no-audit --no-fund
            
            export DATABASE_URL=${{ secrets.RDS_URL }}
            npm run migrate up
            npm run build

            npm prune --omit=dev --no-audit --no-fund
            DATABASE_URL="${{ secrets.RDS_URL }}" pm2 restart forum-api --update-env || \
            DATABASE_URL="${{ secrets.RDS_URL }}" pm2 start dist/main.js --name forum-api